<? it.styles.push( 'error' ); ?>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Server Error | Coverline</title>
    <meta name="description" content="Server Error, Please refresh and try again." />
    <?= it.css( it.styles ) ?>
  </head>
  <body>
    <div id="floater"></div>
    <div id="wrap">
      <h1>Server Error</h1>
      <p>Please refresh and try again.</p>
      <a id="homepage-link" href="/" title="Go to the homepage">Go back to homepage</a>
    </div>
    <?= it.js( it.scripts ) ?>
  </body>
</html>