<div id="nav">
  <ul>
    <li id="artists">
      <h2 id="artists-title">Artists</h2>
      <h3>
        <a class="<?= it.selected( 'artists', it.album_prefix ) ?>" id="artists-subtitle" href="<?= it.namespaced_url( it.namespace, 'artists/homme/1' ) ?>">
          The Stylist, beauty
        </a>
      </h3>
    </li>
    <li id="photographer">
      <h2 id="photographer-title">Photographer</h2>
      <ul id="photographer-subtitle">
        <li>
          <h3>
            <a class="<?= it.selected( 'photographer/loki-tsai', it.album_prefix ) ?>" id="loki-tsai" href="<?= it.namespaced_url( it.namespace, 'photographer/loki-tsai/homme/1' ) ?>">
              Loki Tsai
            </a>
          </h3>
        </li>
        <li>
          <h3>
            <a class="<?= it.selected( 'photographer/minshi-jiang', it.album_prefix ) ?>" id="minshi-jiang" href="<?= it.namespaced_url( it.namespace, 'photographer/minshi-jiang/homme/1' ) ?>">
              Minshi Jiang
            </a>
          </h3>
        </li>
        <li>
          <h3>
            <a class="<?= it.selected( 'photographer/jack-wang', it.album_prefix ) ?>" id="jack-wang" href="<?= it.namespaced_url( it.namespace, 'photographer/jack-wang/homme/1' ) ?>">
              Jack Wang
            </a>
          </h3>
        </li>
      </ul>
    </li>
    <li id="casting">
      <h2 id="casting-title">Casting</h2>
      <h3>
        <a class="<?= it.selected( 'casting', it.album_prefix ) ?>" id="casting-subtitle" href="<?= it.namespaced_url( it.namespace, 'casting/homme/1' ) ?>">
          Runway, Commercial model
        </a>
      </h3>
    </li>
    <li id="fashion">
      <h2 id="fashion-title">Fashion</h2>
      <h3>
        <a class="<?= it.selected( 'fashion', it.album_prefix ) ?>" id="fashion-subtitle" href="<?= it.namespaced_url( it.namespace, 'fashion/beauty/1' ) ?>">
          Boutique, Advertising
        </a>
      </h3>
    </li>
    <li id="film">
      <h2 id="film-title">Film</h2>
      <h3>
        <a class="<?= it.selected( 'film', it.album_prefix ) ?>" id="film-subtitle" href="<?= it.namespaced_url( it.namespace, 'film/1' ) ?>">
          Art Video, Behind the Scenes
        </a>
      </h3>
    </li>
  </ul>
</div>